@tailwind base;
@tailwind components;
@tailwind utilities;


.Card {
    @apply bg-[lightgrey] w-[50px] h-[130px] m-5 p-[30px] border-2 border-solid border-[black];
  }
  

  .Board {
    @apply bg-[green] w-[900px] h-[600px] m-24 p-28 border-[5px] border-solid border-[black];
  }
  
div {
  border-style: solid;
  border-width: 2px;
  border-color: red;
}



html, body, #root {
  height: 100vh;
}

.cardli{
  aspect-ratio: 55/94;
}