@tailwind base;
@tailwind components;
@tailwind utilities;



  

 
  
li{
  border-style: solid;
  border-width: 5px;
  border-color: rgb(0, 217, 255);
}

div {
  border-style: solid;
  border-width: 5px;
  border-color: red;
}
ul {border-style: solid;
border-width: 5px;
border-color: rgb(27, 11, 243);
}

html, body, #root {
  height: 100vh;
}



